CREATE TABLE parts (
    id SERIAL PRIMARY KEY,
    part_number VARCHAR(255) NOT NULL,
    description TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW()
);

CREATE INDEX idx_parts_part_number ON parts(part_number);
CREATE INDEX idx_parts_description ON parts USING gin(to_tsvector('english', description));
